#all-players-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.player {
  margin: 30px;
}

.form {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  margin: 20px;
  padding: 20px;
  border-radius: 5px 5px 0 0;
  background-color: antiquewhite;
}

form > * {
  margin: 5px;
}

button {
  font-size: 1rem;
  margin-bottom: 20px;
  margin: 5px;
  padding: 4px;
}

img {
  width: 400px;
  max-height: 540px;
  border: 5px solid black;
  margin-bottom: 30px;
}

h2 {
  margin: 20px;
}
